body{
  background-color:#f5f5f5;
}
h4{
  font-size:20px;
  font-family:serif;
  transition:all 1s;
}
h4:hover{
  font-size:21px;
  text-shadow:0px 2px #999;
  cursor:pointer;
}
table{
  width:60%;
  height:200px;
  position:absolute;left:50%;
  margin-left:-30%;
  align:center;
  text-align:center;
}
button{
  position:relative;
  margin-top:200px;
  margin-left: 10px;
}
#main-title{
  font-size:40px;
  font-family:Sans-serif;
  text-align:left;
  padding:0 0 0 0;
  text-shadow:3px 3px #999;
}
#small-title{
  text-align:left;
  font-family:serif;
  word-wrap: break-word;
  text-indent : 2em ;
}
.button {
  width: 180px;
  height: 80px;
  display: inline-block;
  padding: 15px 20px;
  font-size: 24px;
  font-family:Sans-serif;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: -4px 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: -2px 5px #666;
  transform: translateY(4px);
}

.clickedButton {
  background-color: #3e8e41;
  box-shadow: -2px 5px #666;
  transform: translateY(4px);
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
hr{
  color:#a2d194;
  background-color:#a2d194;
  width:90%;
  height:3px;
  border:0;
}
.main{
  width:70%;
  margin-bottom:60px;
  margin-left:100px;
  padding-bottom:60px;
}
.explainText{
  width:70%;
  font-family:serif;
  word-wrap: break-word;
  text-indent : 2em ;
  text-align:left;
}
img{
  width:400px; 
  height:400px; 
  box-shadow:1px 1px 1px 1px #999;
}
p.T1:first-letter{
  font-size:26px;
  font-weight:bold;
  text-transform:uppercase;
}
ul{
  list-style-type: square;
}
footer{
  background-color:#f6f6f6;
  box-shadow:-1px -1px #f5f5f5;
  width:100%;
  position:relative;
  bottom:0;
  left:0;
  margin-top:0px;
  opacity:0.6;
}
#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}